@keyframes example2 {
    0%   { left:0px; top:0px; opacity:0.0;}
    99%  { opacity:0.0;}
    100% {  top:0px; opacity:1.0;}
}
#fondo {
     width: 100%;
    height: 100%;
     background-image: url("../images/fondo_jungla.gif");
    background-size: contain;
       background-repeat: no-repeat;
    z-index: 100;
  


}
p {
    text-align: center;
}

h1 {
    margin-top: 15% !important;
}

.imagen_inicio{
    animation: example2 12.0s forwards;
    position: absolute; 
    z-index: 100; 
    margin-left: 25%; 
    margin-bottom: 10%; 
    width: 50%; 
}
.imagen_bubble {
    margin-top:20%; 
    width: 100%; 
}
.video_inicio{
    opacity: 0.9; 
    width:100%; 
    height:100%;
}

#video_background {
    border: 20px groove #ddd;
    background-color: black; 
    margin-top: 15%;
    width:100%;
    height:60%;
}
.image-container{
  height: 5em;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.imagen_pegi {
    width: 30%;
}
.imagen_mahu {
     width: 50%;
}

#adentrate{
    font-family: 'JFRocOut', Arial, sans-serif; 
    font-size: 4vw; 
    margin-top: 10%; 
}
#ataques {
   margin-top: 5%;
   margin-left:5%;   
}



#chapa {
     width: 100%;
     height: auto;
     background-image: url("../images/fondo_nofondo2.jpg");
    background-size: contain;
    
}

.panel {
     width: 100%;
    height: 1350px;
     background-image: url("../images/UI%20board%20Large%20%20parchment.png");
    background-repeat: no-repeat;
     background-size: 100%; 
   
    
}


#facebook {
  width: 100%;
    z-index: 100;
    
   outline: none !important;
   box-shadow: none !important;
}
#twitter {
  width: 100%;
    z-index: 100;
    
   outline: none !important;
   box-shadow: none !important;
}



.bubbleChart {
  width: 100%;
  margin: 0 auto;
  background: transparent !important;
    float:left;
}
.bubbleChart svg{
  background: transparent !important;
}

    
#interior {
      width: 100%;
    height: auto;
    margin-top: 10%;
    
    background-image: url("../images/UI%20board%20Medium%20%20parchment.png");
    background-repeat: no-repeat;
        background-size: 100%;
   
    font-size: 0.9vw;
     font-family: 'JFRocOut', Arial, sans-serif;
    color:black;
}
.button_play1 {
    text-align: center;
    width: 8%;
    height: 70px;
    margin-left: 46%;
    margin-top: 29%;
    border:0;
     color: black;
    background: transparent;
     font-family: 'JFRocOut', Arial, sans-serif;
    background-image: url("../images/BUTTON%20%20empty.png");
    background-repeat: no-repeat;
    background-size: 100%;
    animation: example2 12.0s forwards; 
    position: absolute; 
    z-index: 100;
   font-size: 2vw;
   }
.button_play2 {
    text-align: center;
    width: 40%;
    height: 80px;
    border: 0;
    background-color: transparent !important;
    font-family: 'JFRocOut', Arial, sans-serif;
    background-image: url("../images/BUTTON%20%20empty.png") ;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 2vw;
    margin-left: 30%;
    margin-top:16%;
}

.button_accept {
    text-align: center;
    width:20%;
    height: 82px;
    border: 0;
    background-color: transparent !important;
    font-family: 'JFRocOut', Arial, sans-serif;
    background-image: url("../images/BUTTON%20%20empty.png") ;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1vw;
    margin-left: 30%;
    margin-bottom: 1%;
    margin-top:1%;
}
 

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
   
    margin: auto;
    padding: 0;
    font-size: 20px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
     font-family: 'JFRocOut', Arial, sans-serif;
    background-image: url("../images/fondo_nofondo.jpg");
    animation-duration: 0.4s;
    background-size:10%;
}



/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold 2px;
    text-shadow:black 0 5px 3px;
    
}

.close:hover,
.close:focus {
    color: #000;
   text-shadow:transparent 0 5px 3px;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: transparent;
  
    
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: transparent;

}

#logo {

        width:50px;
        height:50px;
        float:left;
        margin-top:1%;
       
}