#informacion {
    
    width: 100%;
    height: 100%;
    background-image: url("../images/fondo_registro2.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;

}

#links {
    margin-top: 20%;
    position: fixed;
    margin-left: 5%;
    
}

#loginPanel {
    margin-left: 25%;
    margin-top: 15%;
    
}
#registerPanel {
    margin-left: 25%;
    margin-top:10%;
    
}
#informationPanel {
    
    width: 100%;
    height: 800px;
    background-image: url("../images/UI%20board%20Medium%20%20parchment.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 10%;
}

p {
    color:white;
    text-align: center;
    margin-top: 5% !important;
    margin-left: 10% !important;
    width: 80% !important;
    font-size: 0.70vw;
}
 a:hover, a:active, a {
      font-size: 1vw;
    text-decoration-color: sandybrown!important;
}
 
a > h1 {
     font-size: 2vw !important;
}
h1:hover {
    
    color:sandybrown !important;
}
#title{
    
    margin-top: 10%;
    
}

.button_back {
    text-align: center;
    width: 45%;
    height: 120px;
    border: 0;
    background-color: transparent !important;
    font-family: 'JFRocOut', Arial, sans-serif;
    background-image: url("../images/BUTTON%20%20empty.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1.5vw;
    margin-left: 27.5%;
    
}

.button_login {
    text-align: center;
    width: 40%;
    height: 90px;
    border: 0;
    background-color: transparent !important;
    font-family: 'JFRocOut', Arial, sans-serif;
    background-image: url("../images/BUTTON%20%20empty.png") ;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1vw;
    margin-left: 30%;
    margin-top:10%;
}

.button_register {
    text-align: center;
    width: 40%;
    height: 90px;
    border: 0;
    background-color: transparent !important;
    font-family: 'JFRocOut', Arial, sans-serif;
    background-image: url("../images/BUTTON%20%20empty.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1vw;
    margin-left: 30%;
    margin-top:7.5%;
    
    
}


